.App {
    font-family: sans-serif;
    text-align: center;
  }


  *{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  


  
  .react-kanban-card__title {
    font-size: large;
    text-decoration: underline;
    font-style: italic;
  }
  
  .react-kanban-card--dragging {
    /* transform: rotate(90deg); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  

  .react-kanban-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s;
  }

  .react-kanban-card{
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .board-root{
    
    display: flex;
    justify-content: center;
  }

  /* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-root{
  display:flex;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

button[type="submit"] {
  margin-top: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.sign-up-link{
  margin-top:8px;
  display: inline;
}

.header-root{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:20px;
  background-color: #fff;
}

.user-name{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.active-user{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  display:flex;
  justify:center;
  align-items:center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;

  text-transform: capitalize;
 padding:8px;
 cursor:pointer;
}

.active-user-list{
  display:flex;
  gap:8px;
  margin-right:16px;
}


.user-name{

  border-radius: 24px;
  background-color:#ccc;
  padding:16px 24px;
}

.logout-root{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:16px;
  border-radius: 24px;
  background-color: black;
  color:white;
  font-size: 20px;
  font-weight: bold;
}


.create-todo{
  padding:16px 24px;
  border-radius: 24px;
  width:fit-content;
  margin:20px;
  cursor:pointer;
  font-size: 20px;
  font-weight: bold;
  background-color:white;

}